@font-face {
    font-family: Plus Jakarta Sans Medium;
    src: url(./assets/fonts/PlusJakartaSans-Medium.ttf);
}
@font-face {
    font-family: Plus Jakarta Sans Bold;
    src: url(./assets/fonts/PlusJakartaSans-Bold.ttf);
}
@font-face {
    font-family: Plus Jakarta Sans Extra Bold;
    src: url(./assets/fonts/PlusJakartaSans-ExtraBold.ttf);
}

:root {
    --blue900: #13183F;
    --blue600: #666CA3;
    --pink600: #F74780;
    --pink300: #FFA7C3;
    --grey: #83869A;
    --white: #FFFFFF;
    --pink-gradient: linear-gradient(180deg,rgba(255, 111, 72, 1) 0%, rgba(240, 42, 166, 1) 100%);
    --purple-gradient: linear-gradient(180deg,rgba(72, 81, 255, 1) 0%, rgba(240, 42, 166, 1) 100%);
}

.text-preset1 {
    font-family: Plus Jakarta Sans Extra Bold;
    font-size: 3.5rem;
    line-height: 120%;
    letter-spacing: 0px;
}
.text-preset2 {
    font-family: Plus Jakarta Sans Extra Bold;
    font-size: 2.5rem;
    line-height: 120%;
    letter-spacing: 0px;
}
.text-preset3 {
    font-family: Plus Jakarta Sans Extra Bold;
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: 0px;
}
.text-preset4 {
    font-family: Plus Jakarta Sans Extra Bold;
    font-size: 1.5rem;
    line-height: 120%;
}
.text-preset5 {
    font-family: Plus Jakarta Sans Medium;
    font-size: 1.125rem;
    line-height: 150%;
    letter-spacing: 0px;
}
.text-preset6 {
    font-family: Plus Jakarta Sans Bold;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0px;
}
.text-preset7 {
    font-family: Plus Jakarta Sans Bold;
    font-size: 1.125rem;
    line-height: 150%;
    letter-spacing: 0px;
}

@media (max-width: 1024px) {
    .text-preset1 {
        font-size: 2.5rem;
    }
    .text-preset3 {
        font-size: 1.5rem;
    }
    .text-preset4 {
        font-size: 1.25rem;
    }
}